.navbar-bg-yellow{
    background-color: rgb(248, 188, 68);
    width: 100%;
    position: absolute !important;
    top:0;
}

.MuiTablePagination-root, .MuiTableFooter-root{
    background-color: rgb(247, 108, 127);
}

.MuiTableRow-root:hover{
    background-color: rgb(253, 230, 234);
}

.MuiTableCell-root{
    padding: 10px !important;
}

.btn-nueva-venta{
    color: white !important;
    background-color: rgb(25, 136, 152) !important;
}
.btn-nueva-venta:hover, .btn-nueva-venta.active{
    background-color: rgb(52, 155, 169) !important;
}

.container{
    background-color:  rgb(25, 136, 152,0.5) !important;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -2;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.content{
    margin-top: 60px;
    text-align: center;
}

.nav-text-color{
    color: white !Important;
}

.nav-link{
    margin: 0px;
}

.navlink{
    text-decoration: none !important;
    color: lightslategray !important;
    padding: 17px !important;
    margin: 0px;
}

.navlink:hover{
    color: black !important;
}
.navlink.active{
    color: black !important;
    background-color: rgb(255, 209, 155);
}

body{
    background-image: url('../img/background.png');
}